---
---
@import "bootstrap.min.css";

allredlamb{
    max-width: 100%;
    display: block; margin-left: auto; margin-right: auto;
}

.column {
  float: center;
  padding: 5px;
  width: 33%;
}
.row::after {
  content: "";
  float: center;
  clear: both;
  display: table;
}

img_7944{
    transform: rotate(90deg);
}

.me{
 margin: 15% auto 15% auto;
 width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
   margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

nav {
    border-radius: 15px;
    text-align: center;
}

nav li{
  border-radius: 25px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  transition: 0.3s;
}

nav li:hover {
    background-color: blue;
  color: white;
}


div {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}






.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
    
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;


  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
